version: "3"

services:
  wpmongo:
    container_name: webprotege-mongodb
    image: registry1.dso.mil/ironbank/opensource/mongodb/mongodb:5.0.2

    #image: mongo:4.1-bionic
    volumes: 
      - ./.protegedata/mongodb:/data/db

  webprotege:
    container_name: webprotege
    #image: webprotege
    build: .
    depends_on:
      - wpmongo
    restart: unless-stopped
    environment:
      - webprotege.mongodb.host=wpmongo
    volumes: 
    - ./.protegedata/protege:/srv/webprotege
    ports:
      - 5000:8080
